/* Body */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Section 1 */
.Section1 {
    background-color: #1F2937;
    color: white;
}

/* Header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    width: auto;
}

.logo {
    font-size: 12px;
    display: flex;
    margin-left: 200px;
}

.navigation {
    font-size: 18px;
    display: flex;
    margin-right: 200px;
    gap: 20px;
}

/* Hero container */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 80px;
}

/* Hero text */
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;

    height: 400px;
    width: 600px;
}

.hero-text h1 {
    font-size: 48px;
    display: flex;
    justify-content: flex-start;
}

.hero-text p {
    font-size: 24px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

/* Hero image */
.hero-image {
    background-color: grey;
    margin-right: 200px;
    height: 250px;
    width: 500px;
    text-align: center;
}

/* Section 2 */
.Section2 {
    background-color: white;
    height: 400px;
    width: auto;
    border: 4px solid;
}

/* Information header */
.info-head {
    display: flex;
    justify-content: center;
    border: 4px solid;
    padding: 5px;

}

.info-image {
    display: flex;
    justify-content: space-between;
    flex-direction: horizontal;

    border: 4px solid;
    height: 300px;
}

.info-image-item {
    width: 60px;
    height: 60px;
}